@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }

* {
    box-sizing: inherit;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1, h2, h3, p, a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #F07875;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 50px;
}

footer {
    padding: 24px 0px 24px 0px;
    position: fixed;
    bottom: 0px;
    background-color: #F07875;
    width: 100%;
}

footer p {
    color: #ffffff;
    margin: 0px 50px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #5DB3F0;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #f0dbda;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: space-evenly;
}

.recipe-card {
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform .3s ease, box-shadow 0.7s ease;
}

.recipe-card:hover {
    box-shadow: 0px 10px 30px 5px #979797;
    transform: rotateY(-3deg);
}

.rating {
    padding-left: 20px;
}

.recipe-title {
    background-color: #2F73A3;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s;
}

.recipe-title a {
    color: #ffffff;
}

.recipe-title:hover {
    background-color:#5DB3F0;
}

.perspective {
    perspective: 500px;
}

tbody tr:nth-child(even) {
    background-color: #dfdfdf;
}